<a href='https://mike.works' class="text-center logo-row">
  <img src="/img/booth-schedule.png" alt="Netflix Booth Schedule">
  <caption>We turn brilliant developers into seasoned experts.</caption>
</a>
